@model FormReporting.Models.ViewModels.Dashboard.Components.Atomic.DropdownConfig

@{
    var buttonClasses = Model.GetButtonClasses();
    var menuClasses = Model.GetMenuClasses();
}

<div class="dropdown">
    <button class="@buttonClasses"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        @if (!string.IsNullOrEmpty(Model.ButtonIcon))
        {
            <i class="@Model.ButtonIcon"></i>
        }
        @if (!string.IsNullOrEmpty(Model.ButtonText))
        {
            @if (!string.IsNullOrEmpty(Model.ButtonIcon))
            {
                <text> </text>
            }
            <text>@Model.ButtonText</text>
        }
        @if (Model.ShowCaret && !string.IsNullOrEmpty(Model.ButtonText))
        {
            <i class="mdi mdi-chevron-down ms-1"></i>
        }
    </button>

    <ul class="@menuClasses">
        @foreach (var item in Model.Items)
        {
            @if (item.IsDivider)
            {
                <li><hr class="dropdown-divider"></li>
            }
            else if (item.IsHeader)
            {
                <li><h6 class="dropdown-header">@item.Text</h6></li>
            }
            else
            {
                <li>
                    @if (!string.IsNullOrEmpty(item.Url))
                    {
                        <a class="dropdown-item @(item.Disabled ? "disabled" : "")"
                           href="@item.Url"
                           @if (item.Disabled) { <text>aria-disabled="true"</text> }>
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <i class="@item.Icon me-2"></i>
                            }
                            @item.Text
                        </a>
                    }
                    else if (!string.IsNullOrEmpty(item.OnClick))
                    {
                        <a class="dropdown-item @(item.Disabled ? "disabled" : "")"
                           href="#"
                           onclick="@item.OnClick; return false;"
                           @if (item.Disabled) { <text>aria-disabled="true"</text> }>
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <i class="@item.Icon me-2"></i>
                            }
                            @item.Text
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item @(item.Disabled ? "disabled" : "")"
                           href="#"
                           @if (!string.IsNullOrEmpty(item.Value)) { <text>data-value="@item.Value"</text> }
                           @if (item.Disabled) { <text>aria-disabled="true"</text> }>
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <i class="@item.Icon me-2"></i>
                            }
                            @item.Text
                        </a>
                    }
                </li>
            }
        }
    </ul>
</div>
