@model FormReporting.Models.ViewModels.Components.FilterSelectViewModel

@*
    FilterSelect Component

    Features:
    - Select dropdown filter with floating label
    - Auto-submits form on change
    - Preserves existing query parameters
    - Used for advanced filters (collapsible section)
*@

<form method="get" action="@Model.ActionUrl" id="@Model.FormId" class="filter-select-form" style="min-width: 180px;">
    @* Preserve existing query parameters *@
    @if (Model.PreserveQueryParams != null)
    {
        @foreach (var param in Model.PreserveQueryParams)
        {
            <input type="hidden" name="@param.Key" value="@param.Value" />
        }
    }

    <div class="form-floating">
        <select name="@Model.ParameterName"
                id="@Model.FormId"
                class="form-select"
                onchange="this.form.submit()">
            <option value="">@Model.PlaceholderText</option>
            @foreach (var option in Model.Options)
            {
                <option value="@option.Value" selected="@option.IsSelected">
                    @option.Text
                </option>
            }
        </select>
        <label for="@Model.FormId">@Model.PlaceholderText</label>
    </div>
</form>
